@tailwind base;
@tailwind components;
@tailwind utilities;

@layer body {
  body {
    @apply bg-black;
  }
}

@layer base {
  h1 {
    @apply text-3xl font-[var(--font-archivo)] tracking-[0.02em] lg:text-3xl;
  }
  h2 {
    @apply text-2xl font-[var(--font-archivo)] tracking-[0.02em] lg:text-xl;
  }
  h3 {
    @apply text-2xl font-medium tracking-[0.02em];
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

/* Hide scrollbar for elements with this class */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
